<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
        <script src="/js/jquery.js"></script>
　　</head>
　　<body>
		<header id="header" class="inner"><div class="alignleft">
		  <h2><a href="/">Jenson.Ding的技术博客</a></h2>
		</div>
		<nav id="main-nav" class="alignright">
		  <ul>
		    
		      <li><a href="/">首页</a></li>
		    
		      <li><a href="">目录</a></li>
		    
		      <li><a href="https://github.com/jenson1991">Github</a></li>
		    
		      <li><a href="/Project">关于我</a></li>
		    
		  </ul>
　　　　{{ content }}

　　</body>
　　</html>